<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<script src={% static "js/external/jquery/jquery.js" %}></script>
<script>
{% for p in points %}
var id="{{ p.0.name }}"
$(document).ready(function(){
    $( "#{{ p.0.name }}" ).click(function(){
        $(".{{ p.0.name }}a").toggle();
    });
    
 
    $("#hide").click(function(){
        $(".shadow").hide();
    });
});
{% endfor %}
</script>
</head>
<body>


 
{% if points %}

   <ul class="nav nav-sidebar">
   {% for p in points %}
<!--<button type="button" onclick="loadXMLDoc()">Request data</button>-->
<div id="myDiv">
   <li><h5 id="{{ p.0.name }}">{{ p.0.name }}</h5></li>
      {% for i in p %}
        {% if i != p.0 %}
      <li class="{{ p.0.name }}a" style="display:none"><a href='/askueclient/detail/{{i.id}}' target="detail">{{ i.name }}</a></li>
      {% endif %}
       {% endfor %}
        <!-- <li><a href='/askueclient/detail/{{p.id}}'>{{ p.name }}</a></li>-->
          </div> 
{% endfor %}

{% else %}
    <li> <strong >There are no point present.</strong></li>


    </ul>
{% endif %} 

